/*** VARS & MIXINS ***/

$border-radius:5px;
 $net-blue:#02b9e9;
 $net-black:#3c3c3c;
@mixin sidebar-block {
    background-color: #fff;
    border: 1px solid #dcdcdc;
    box-shadow: 0 0 8px 4px #eee;
    padding: 12px;
    border-radius: $border-radius;
}
@mixin tab {
    padding: 12px 17px 8px 17px;
    float: left;
    border-radius: $border-radius $border-radius 0 0;
}
a.btn {
    border-radius: $border-radius;
    background-color: $net-blue;
    padding: 10px 18px;
    margin: 8px 0;
    color: #fff !important;
    font-size: .8rem;
    display: inline-block;
}
a.download-btn {
    padding-right: 32px;
    margin: 0;
    color: #fff;
    background: $net-blue url('../img/btn-down-arrow.png') 86% 50% no-repeat;
}
/*** TYPOGRAPHY ***/

::-webkit-input-placeholder {
    color: #fff;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}
:-ms-input-placeholder {
    color: #fff;
}
h1 {
    color: $net-black;
    font-size: 1.125rem;
}
a {
    color: $net-blue;
    &:hover {
        color: $net-black;
    }
}

#content {
    article {
        p {
            color: $net-black;
            font-size: .75rem;
        }
        a {
            color: $net-blue;
            &:hover {
                color: $net-black;
            }
        }
        h1 {
            color: $net-black;
            font-size: 1.125rem;
        }
        h2 {
            font-size: 1.0666;
            color: $net-blue;
        }
        h3 {
            font-size: 1rem;
            font-weight: bold;
            color: $net-blue;
        }
        h4 {} ul {
            list-style-type: disc;
            li {
                color: $net-black;
                font-size: .8em;
            }
        }
        footer {
            ul {
                li {
                    a {
                        color: $net-blue;
                    }
                }
            }
        }
    }
    article.internal-page-article {
        h1 {
            font-size: 1.145rem;
            line-height: 1.3rem;
            margin-bottom: .5rem;
            display: block;
        }
       .add-to-links-btn{
            position: relative;
            float: left;
            width: 15px;
            height: 15px;
            margin: 2px 6px 10px 0;
            background: #fff url('../img/article-share-btn.png') 0 0 no-repeat;
            .add-to-links-menu{
                position: absolute;
                left: -999px;
            }
        }
        .add-to-links-btn:hover{
            cursor: pointer;
        }
        .add-to-links-btn:hover .add-to-links-menu{
            left: 0;
            top: 0px;
            font-size: .8rem;
            padding: .6rem .6rem .6rem 1.2rem;
            border-radius: $border-radius;
            background-color: #fff;
            box-shadow: 0 0 2px 1px #ccc;
            border: 1px solid #dcdcdc;
            width: 160px;
        }
        .add-to-links-menu:before{
            content: " + ";
            color: $net-blue;
        }
        h2{
            color: $net-blue;
            font-size: .95rem;
            line-height: 1.1rem;    
        }
     }

}
/*** LAYOUT ***/

body {
    background: #12b9e9 url(../img/radial-gradient.jpg) -60% 0% no-repeat;
}
#wrapper {
    background: url(../img/user-nav-bg.png) top left repeat-x;
}
#page {
    width: 60em;
    margin: 0 auto;
    padding-bottom: 200px;
}
#page-header{
    float: left;
    width: 100%;
}
#content {
    background-color: #fff;
    border-radius: 10px 0 10px 10px;
    clear: both;
}
.col-wrapper {
    overflow: hidden;
    .col-small {
        width: 13.75em;
        float: left;
    }
    .col-med {
        float: left;
        width: 26.4375em;
    }
    .col-wide {
        float: left;
        width: 41.25em;
    }
    .col-xtra-wide {
        float: left;
        overflow: hidden;
        width: 100%;
        margin: 1.25em 2em 4em 2em;
        padding-top: 40px;
        background: url('../img/hr.png') 50% 0 no-repeat;
    }
    .col-left {
        margin: 1.25em 0 1.25em 1.25em;
    }
    .col-mid {
        margin: 1.25em 1.6875em;
    }
    .col-right {
        margin: 1.25em 1.25em 1.25em 0;
    }
}

/*** HEADER ***/

#user-nav-wrapper {
    height: 29px;
    width: 100%;
    margin-bottom: 24px;
}
#user-nav {
    height: 29px;
    float: right;
    margin: 0 auto 24px auto;
    #user-dropdown {
        display: inline-block;
        position: relative;
        margin-right: 10px;
        padding-right: 20px;
        height: 100%;
        font-size: .8rem;
        line-height: 2.4em;
        color: #fff;
        background: url('../img/menu-drop.png') 90% 50% no-repeat;
        &:hover {
            cursor: pointer;
        }
    }
    #user-menu {
        width: 200px;
        position: absolute;
        background-color: rgba(255, 255, 255, .9);
        left: -9999px;
        z-index: 9999;
        ul {
            list-style: none;
            margin: 8px;
            font-size: .8rem;
            li a:hover {
                text-decoration: underline;
            }
        }
    }
    #user-dropdown:hover > #user-menu {
        top: 28px;
        left: -10%;
    }
}
#settings-item {
    display: inline-block;
    background: url('../img/sprite-sheet.png') no-repeat -79px -96px;
    -moz-transform: translateY(3px);
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    width: 12px;
    height: 12px;
    margin-top: 6px;
    margin-right: 20px;
    text-indent: -9999px;
}
#help-item {
    display: inline-block;
    background: url('../img/sprite-sheet.png') no-repeat -113px -96px;
    -moz-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    width: 9px;
    height: 12px;
    text-indent: -9999px;
}
#page {
    #page-header {
        hgroup {
            a {
                -moz-transform: translateY(10px);
                -webkit-transform: translateY(10px);
                transform: translateY(10px);
                display: block;
                background: url('../img/sprite-sheet.png') no-repeat 0 0;
                width: 214px;
                height: 53px;
                h1 {
                    text-indent: -9999px;
                }
                h2 {
                    text-indent: -9999px;
                }
            }
        }
    }
}
#search {
    float: right;
    margin: -50px 0 0 0;
    input {
        width: 13.25em;
        height: 1.975em;
        border: none;
        border-radius: 14px;
        margin: 0;
        font-size: .9rem;
        color: #fff;
        background-color: #4bd3fa;
    }
}
#main-nav {
    float: right;
    ul {
        list-style: none;
        float: right;
        margin: 0;
        li {
            position: relative;
            float: left;
            @include tab;
            background-color: #0d9dd2;
            margin-left: 1px;
            a {
                font-size: .9em;
                color: #fff;
            }
        }
    }
}
#main-nav {
    ul li div.sub-menu {
        position: absolute;
        z-index: 99999;
        top: 10%;
        left: 0%;
        width: 350px;
        overflow: hidden;
        left: -9999px;
        background-color: #245484;
        padding: 1.4em;
        border-radius: $border-radius;
        div{
            float: left;
            width: 47%;
            h2 {
                font-size: .75rem;
                font-weight: bold;
                color: #fff;
                margin: 0 0 4px 0;
            } 
            ul {
                margin: 0;
                li {
                    border-radius: 0;
                    background: none;
                    line-height: .82rem;
                    margin: 0;
                    padding: 0;
                    a {
                        color: #fff;
                        font-size: .75rem;
                        margin: 0;
                        &:hover{
                            color: $net-blue;
                        }
                    }
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
        div + div{
            margin-left: 6%;
        }
    }
}

#main-nav > ul > li{
    -moz-transform: translateY(0px);
    -webkit-transform: tranlateY(0px);
    transform: translateY(0px);
}

#main-nav > ul > li:hover{
    background-color: #245484;
    -moz-transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    z-index: 999;
}

#main-nav > ul{
        li:hover div.sub-menu {
        left: -100px;
        top: 45px;
    }
}
/*** SLIDESHOW ***/

#slideshow {
    border: none;
    box-shadow: none;
    border-radius: $border-radius;
    .flex-control-nav {
        a.flex-active {
            background: url('../img/sprite-sheet.png') no-repeat -50px -99px;
            width: 7px;
            height: 7px;
        }
        a {
            background: url('../img/sprite-sheet.png') no-repeat -18px -99px;
            width: 7px;
            height: 7px;
        }
    }
}
.slides {
    li {
        border-radius: $border-radius;
        max-height: 200px;
        img{
            border-radius: 10px;
        }
        div {
            -moz-transform: translateY(-116%);
            -webkit-transform: translateY(-116%);
            transform: translateY(-116%);
            width: 60%;
            padding: 10px 10px 10px 20px;
            background-color: rgba(0, 0, 0, .5);
            h2 {
                color: $net-blue;
                font-size: .9rem;
                line-height: 1rem;
                font-weight: bold;
                margin: 0 0 .4em 0;
            }
            p {
                font-size: .75rem;
                line-height: .95rem;
                margin: 0px;
                color: #fff;
            }
            a {
                font-size: .75rem;
                &:after {
                    content: "";
                }
            }
        }
    }
}
a.flex-next, a.flex-prev {
    display: none;
}
/*** SIDEBARS ***/

.col-small {
    h1 {
        font-size: 1.2rem;
    }
    #secondary-nav {
        div.active {
            box-shadow: 0 0 8px 4px #eee;
            border-radius: 0 $border-radius $border-radius $border-radius;
            border: 1px solid #dcdcdc;
            background-color: #fff;
            ul {
                list-style: none;
                margin: 10px 10px 10px 19px;
                li {
                    a {
                        font-size: .75rem;
                        padding-left: 14px;
                        display: block;
                        margin-bottom: 8px;
                        background: url('../img/marker.png') 0 50% no-repeat;
                        color: $net-black;
                        &:hover {
                            color: $net-blue;
                        }
                    }
                }
            }
        }
    }
    ul.tabs {
        li {
            @include tab;
            width: 44%;
            margin-right: 12px;
            padding: 8px 12px;
            a {
                background-color: #fff;
                font-size: .75rem;
                color: $net-blue;
                margin: 0;
                padding: 0;
                width: 100%;
                &:hover {
                    background: none;
                }
            }
            .mask {
                display: none;
            }
        }
        li.active {
            box-shadow: 0 0 8px 4px #eee;
            border-top: 1px solid #dcdcdc;
            border-left: 1px solid #dcdcdc;
            border-right: 1px solid #dcdcdc;
            position: relative;
            .mask {
                display: block;
                position: absolute;
                width: 99%;
                height: 16px;
                background-color: #fff;
                left: 1px;
            }
        }
    }
    aside {
        margin-bottom: 36px;
        font-size: .8rem;
        img {
            float: left;
            margin: 0 24px 0 0;
        }
    }
    
    #aaron-says-wrapper{
        overflow: hidden;
        img.right-sidebar-img{
            float: right;
            -moz-transform: translate(1.9em, 1em);
            -webkit-transform: translate(1.9em, 1em);
            transform: translate(1.9em, 1em);
        }
        a{
            display: block;
        }
    }
    #weather-widget {
        .location {
            clear: both;
            float: left;
            width: 100%;
            margin: 12px;
        }
        .weather-details {
            .temprature {
                font-size: 2rem;
                font-weight: bold;
            }
            div p {
                font-size: .7rem;
                margin: 0;
            }
        }
        .weather-updated {
            font-size: .7rem;
            margin: 18px 0 12px 0;
        }
    }
    aside > div {
        @include sidebar-block;
        p {
            font-size: .8rem;
            line-height: 1.2rem;
        }
        ul {
            margin-left: 30px;
        }
        li, li a {
            font-size: .8rem;
        }
    }
    .upcoming-event {
        margin-top: 4px;
        .date {
            padding: 0 0 8px 0;
            margin: 0 0 8px 0;
            border-bottom: 1px solid #dcdcdc;
        }
        ul {
            list-style: none;
            margin-left: 0;
            li {
                span {
                    display: inline-block;
                    font-weight: bold;
                    width: 62px;
                }
            }
        }
    }
}

/*** CONTENT ***/

#content {
    article {
        margin-bottom: 3rem;
        p {
            font-size: .8rem;
            line-height: 1.2rem;
            margin-bottom: 1rem;
        }
        a {
            color: $net-blue;
        }
        img {
            float: left;
            margin: 2px 12px 12px 0;
        }
        h1 {
            font-size: 1.125rem;
            line-height: 1.3rem;
            margin-bottom: 0;
        }
        h2 {
            font-size: .8rem;
            font-weight: bold;
            line-height: 1rem;
            color: $net-blue;
            margin-bottom: 0;
        }
        h3 {
            font-size: .8rem;
            line-height: 1rem;
            font-weight: normal;
            color: $net-blue;
            clear: both;
            margin-bottom: 0;
        }
        ul {
            clear: both;
            margin-left: 40px;
            li {}
        }
        footer {
            margin: 0;
            padding: 0;
            ul {
                overflow: hidden;
                list-style: none;
                margin: 0 auto;
                li {
                    float: left;
                    padding: 0 12px 0 0;
                    margin: 0 12px 0 0;
                    border-right: 1px solid #dcdcdc;
                    line-height: .9rem;
                    &:last-child {
                        border: none;
                    }
                }
            }
        }
    }
}

.col-xtra-wide {
    div.wide-callout {
        float: left;
        width: 34.0625em;
        h2 {
            color: $net-blue;
            font-size: .8rem;
            margin-bottom: 0;
        } 
        img {
            float: left;
            margin: .5em 1em 2em 0;
        } 
        p {
            font-size: .8rem;
            line-height: 1.2rem;
            a{
                display: inline;
            }
        }
        a{
           font-size: .8rem;
           display: block;
           margin-bottom: .5rem;
        }
    }

    div.wide-callout + aside.callout {
        float: left;
        width: 17.5em;
        margin-left: 3.9em;
        div{
            @include sidebar-block;
            box-shadow: none;
            border: 1px solid $net-blue;
            #suggestions {
                overflow: hidden;
                textarea {
                    border-radius: $border-radius;
                }
                margin-bottom:0;
                a {
                    float: right;
                }
            }
        }
        p {
            font-size: .8rem;
            line-height: 1.2rem;
        }
    }
}
/*** FOOTER ***/

#page {
    footer {
        overflow: hidden;
        padding-top: 20px;
        a {
            color: #fff;
        }
        nav.small-nav {
            overflow: hidden;
            float: left;
            margin: 10px 0;
            ul {
                overflow: hidden;
                list-style: none;
                li {
                    float: left;
                    margin-right: 12px;
                    padding-right: 12px;
                    line-height: .8rem;
                    border-right: 1px solid #fff;
                    &:last-child {
                        border: none;
                    }
                }
                a {
                    font-size: .8em;
                }
            }
        }
        nav.social-media {
            float: right;
            ul {
                list-style: none;
                oveflow: hidden;
                li {
                    float: left;
                }
            }
            a {
                display: block;
                text-indent: -9999px;
                margin-right: 10px;
            }
            a.fb {
                background: url('../img/sprite-sheet.png') no-repeat -7px -59px;
                width: 30px;
                height: 30px;
            }
            a.li {
                background: url('../img/sprite-sheet.png') no-repeat -50px -59px;
                width: 30px;
                height: 30px;
            }
            a.yt {
                display: block;
                text-indent: -9999px;
                background: url('../img/sprite-sheet.png') no-repeat -95px -59px;
                width: 30px;
                height: 30px;
            }
        }
    }
    nav.big-nav {
        color: #fff;
        overflow: hidden;
        clear: both;
        border-top: 1px solid #0c8cbb;
        padding-top: 20px;
        .col {
            width: 15em;
            padding: 0 1.5em;
            float: left;
            h2 {
                font-size: .95rem;
                color: #fff;
            }
        }
    }
    .menu-block {
        color: #fff;
        ul {
            list-style: none;
            margin: 0 0 30px 0;
            li {
                margin: 0;
                line-height: 1.2rem;
                a {
                    margin: 0;
                    color: #fff;
                    font-size: .8rem;
                }
            }
        }
    }
}
